html, body { height: 100% }
#map { min-height: 100%; }
body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px;
    overflow: hidden;
    background-color: #f00;
}
.leaflet-popup-content-wrapper {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

path.river          { /*stroke: #29439c;*/stroke-linejoin:round;stroke-linecap:round;fill:none; }
path.highlightriver {stroke: yellow !important; }

#headerbar {
  position:         fixed;
  width:            50%;
  left:             25%;
  height:           30px;
  font-size:        26px;
  padding-top:      2px;
  background-color: rgba(0,0,255,0.3);
  text-align:       center;
  z-index:          100;
  color:            white;
  font-weight:      bold;
  border-radius:    0 0 20px 20px;
}

#bottomright{
  position:               fixed;
  right:                  0;
  bottom:                 0;
  width:                  180px;
  height:                 140px;
  background-color:       rgba(0,0,255,0.5);
  color:                  white;
  z-index:                100;
  border-top-left-radius: 20px;
  padding:                10px;
  font-size:              20px;
}

.ddate {
  font-size: 60%;
}

#wdgradwrap, #nlcdgradwrap {
  width:  400px;
  margin: 0 auto;
}

.wdgrad, .nlcdgrad {
  width:       40px;
  height:      25px;
  display:     inline-block;
  line-height: 25px;
  text-align:  center;
  font-size:   10px;
  float:       left;
}

.nlcdgrad {
  width: 20px;
}

#legend{
  position:                fixed;
  left:                    0;
  bottom:                  0;
  height:                  200px;
  width:                   500px;
  background-color:        rgba(0,0,255,0.5);
  border-top-right-radius: 20px;
  z-index:                 100;
  padding-top:             5px;
}